<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="/style1.css" rel="stylesheet"/>
</head>
<body>
    <h1>Hello there!!</h1>
    <%- include("./sec1.ejs") %>
    <script src="sc1.js" ></script>
    <script src="sc2.js" ></script>
</body>
</html>