<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOme</title>
    <style>
        h1 {
            color:red;
            text-align: center;
            font-size: 2rem;
        }
    </style>
</head>
<body>
    <h1>HEllo</h1>
    <ul>
        <li>Mango</li>
        <li>Apple</li>
        <li>Bluberry</li>
    </ul>
</body>
</html>