<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome <%= name %>, consider filling the form</h1>
    <% if(name == "navjot") { %>
    <h4>Ohh, you are admin</h4>
    <% } %>
    <% for(let i = 1; i < 5; i++) { %>
        <h2><%= i %></h2>
    <% } %>
</body>
</html>